.main-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}



.menu-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.menu-options button {
  padding: 15px;
  font-size: 18px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.menu-options button:hover {
  background-color: #45a049;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 10px; /* espacio entre icono y texto */
  /*justify-content: center;*/
}

/* Estilo del ícono dentro del botón */
.button_icon {
  font-size: 22px; /* tamaño del ícono */
}

/* Ajuste para el contenedor principal para que no quede oculto detrás del menú */
.settings-container {
  padding-bottom: 60px; /* Añadir espacio para el menú inferior */
}

/* Ajustes para el menú inferior */
.bottom-nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 10; /* Asegura que el menú esté siempre visible */
}
