.trainers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.trainers-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.trainer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.trainer-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.trainer-card h2 {
    margin-bottom: 10px;
    font-size: 22px;
    color: #bda361;
}

.trainer-card p {
    font-size: 16px;
    color: #bda361;
}

.trainers-add button {
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.trainers-add button:hover {
    background-color: #45a049;
}